language: python
dist: xenial   # required for Python >= 3.7
python:
    - "3.7"
env:
    - export MANTLE=coreir

sudo: true  # Needed for coreir-dev branch building coreir from source (installing g++-4.9 through apt)

before_install:
    - export CXX="g++-4.9"
    - export CC="gcc-4.9"
    - git clone https://github.com/phanrahan/magma.git
    - pip install -e magma
    - source magma/.travis/install_coreir.sh
    - git clone https://github.com/phanrahan/mantle.git
    - pip install pytest-cov
    - pip install delegator.py
    - pip install -e mantle

install:
    - pip install -r requirements.txt
    - pip install -e .

script:
    - pytest -s tests

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.9
      - gcc-4.9
