body {
    background-color: #f9f9f9;
}

h1 {
    font-size: 600%;
}

h5 {
    display: inline;
}

#header-and-content {
    margin-top: 10px;
}

#content {
    margin-top: 10px;
    margin-bottom: 20px;
}

#header-body {
    margin-top: 10px;
}

#contact-me-post {
    margin-top: 10px;
}

#footer {
    margin-bottom: 10px;
}

#conference-section {
    margin-top: 20px;
}

.content-section {
    margin-top: 30px;
}
